// red #a83e3e;
$border-width: .15rem;
$border-radius-card: .3rem;
.repository-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    background: rgba(49, 49, 49, 0.5215686275);
    padding: 0 1rem;
    border-radius: $border-radius-card;
    >select{
        margin: auto 0;
        width: 10rem;
        height: 2rem;
        border: none;
        font-size: 1.2rem;
    }
}
.container-repository{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 0 0;
    .repository{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: .3rem;
        background: #31313185;
        width: 25rem;
        border-radius: .3rem;
        padding: .5rem;
        transition: .3s all;
        border: $border-width solid transparent;
        &:hover{
            border: $border-width solid rgb(255, 248, 225);
            transform: scale(1.05);
        }
        .repository-name{
            color: #58a6ff;
        }
        .repository-muted{
            color: #8b949e;
        }
        p {
        margin: 0;
        font-size: 1.2rem;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 3rem;
            background: #93baf5;
            color: #000000;
            border-radius: .5rem;
            text-decoration: none;
            font-size: 1.1rem;
            transition: .3s all;
            margin: .5rem 0;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}